<div class="container container-pad">
	<div class="panel panel-default" id="IRPanel"> <!--panel conatainer-->

		<div class="panel-heading" id="IRPanelHeading"> <!--panel heading-->
			<h4><span class="glyphicon  glyphicon-folder-open"></span>&nbsp View Reports</h4>
		</div> <!--panel heading end-->

	 <div class="panel-body" id="IRPanelBody"> <!--panel pody-->
	 	<h4 ng-show="reports.length===0">There are no reports to view</h4>
	 	<div> <!--row1-->
			<div class="col-lg-12" > <!--column 1-->
				
				
				<div > 
					<table class="table table-bordered table-condensed">
						<tbody>
							<tr ng-repeat="report in reports"> 
								<td >
									SW:
									<span>
										{{report.name}} &nbsp;ID:{{report.fullID}}
									</span>
								</td>
								<td>
									<span	class="glyphicon glyphicon-question-sign text-warning"
									></span> {{report.pending}} &nbsp;&nbsp;
									<span	class="glyphicon glyphicon-exclamation-sign text-danger"
									></span> {{report.unexcused}} &nbsp;&nbsp;
									<span	class="glyphicon glyphicon-ok-sign text-success"
									></span> {{report.excused}}&nbsp;&nbsp;
									<br>
								</td>
								<td>
								</td>
								<td>
									<a href="#/single-report">
										<span 
											class="glyphicon glyphicon-plus-sign pull-right"
											ng-click="setReportFocus(report)" 
										></span>
									</a> 
							</tr>
						
						</tbody>
					</table>
					</div>
					


			</div> <!-- end of column 3-->
		</div> <!--end of row1-->

	</div> <!--panel body end-->
</div> <!--internal container end-->
</div> <!-- /main container end -->