<div class="container container-pad">
	<div class="panel panel-default" id="IRPanel"> <!--panel conatainer-->

		<div class="panel-heading" id="IRPanelHeading"> <!--panel heading-->
			<h4><span class="glyphicon  glyphicon glyphicon-star"></span>&nbsp Test View</h4>
		</div> <!--panel heading end-->

	 <div class="panel-body" id="IRPanelBody"> <!--panel pody-->
	 	<div> <!--row1-->
			<div class="col-lg-12" > <!--column 1-->
				<h3>{{greeting}}</h3>
				


			</div> <!-- end of column 3-->
		</div> <!--end of row1-->

	</div> <!--panel body end-->
</div> <!--internal container end-->
</div> <!-- /main container end -->